html {
    box-sizing: border-box;
}

:root {
--primary-brand-color: #4D5AE5;
--hover-color: #404BBF;
--headings-color: #2E2F42;
--text-color: #434455;
--subtle-text: #8E8F99;
--success-color: #31D0AA;
--magic-color: #ffffff;
--accent-color: #E7E9FC;
--background-color: #F4F4FD;
--transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body{
    background-color: var(--magic-color);
    color: var(--text-color);
    font-style: normal;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6,p,a{
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-list,
.address-list,
.features-list,
.samples-list,
.team-list,
.filters-list,
.projects-list,
.team-icons-list,
.customers-icons-list,
.foot-network-list {
    list-style-type: none;
}

.nav-bar,
.logo-nav,
.nav-address,
.nav-list,
.address-list,
.features-list,
.samples-list,
.team-list,
.filters-list,
.projects-list,
.foot-network-list {
    display: flex;
}

.filters-item:not(:last-child),
.feature-item:not(:last-child),
.samples-item:not(:last-child),
.team-item:not(:last-child) {
    margin-right: 24px;
}

/* Header */

.nav-bar{
    display: flex;
    background-color: var(--magic-color);
    border-bottom: 1px solid var(--accent-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

/* Logo */
.logo{
    margin-right: 74px ;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo-studio {
color: var(--headings-color);
}

.nav-list, .address-list{
    margin: 0;
    padding-left: 0;
}


.nav-item:not(:last-child),
.address-item:not(:last-child){
    margin-right: 40px;
}

.nav-link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--headings-color);
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--transition-dur-and-func);
    
}

.nav-item{
    position: relative;
}

.nav-link.link-current{
    color: var(--primary-brand-color);
}


.link-current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;

    background-color: var(--primary-brand-color);
    border-radius: 2px;

}


/* address */

.address-list{
    margin: 0;
    padding-left: 0;
}
.nav-address{
    font-style: normal;
}

.address-text{
    display: block;
    color: var(--text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--transition-dur-and-func);
}

.address-text:hover,
.address-text:focus,
.nav-link:hover,
.nav-link:focus {
    color: var(--hover-color);
}

.section-title {
    margin-top: 0;
    margin-bottom: 72px;
    color: var(--headings-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;

}


/* Hero Section */

.hero {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-color: var(--headings-color);
    background-image: linear-gradient( to right, rgba(46,
        47,66, 0.7), rgba( 46,47,66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.hero-title{
    color: var(--magic-color);
    width: 500px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-button {
    margin-top: 48px;
    padding: 16px 32px;
    color: var(--magic-color);
    background-color: var(--primary-brand-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--transition-dur-and-func);
}

.hero-button:hover, .hero-button:focus {
    background-color: var(--hover-color);
    cursor: pointer;
}


/* Features Section */
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-features-icon{
    width: 264px;
    height: 112px;
    background-color: var(--background-color);
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.feature-icon{
    width: 64px;
    height: 64px;
}

.features-list{
    margin: 0;
    padding-left: 0;
}

.feature-direction{
    margin: 0;
    margin-top: 8px;
    color: var(--headings-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.feature-text{
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* Samples */
.samples {
    padding-bottom: 120px;
}

.samples-list {
    margin: 0;
    padding-left: 0;
}

.samples-item > img, .team-item>img, .project-link>img {
    display: block;
    width: 100%;
    height: auto;
}


/* Team Section */

.team{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--background-color);
}

.team-list{
    margin: 0;
    padding-left: 0;
}

.team-item{
    width: 264px;
    background-color: var(--magic-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-item-text {
    padding: 32px 16px;

}

.team-name{
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--headings-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
} 

.team-function{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-icons-list{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    padding: 0;

}

.team-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
    transition: background-color var(--transition-dur-and-func);
}

.team-icon:hover,
.team-icon:focus {
    background-color: var(--hover-color);
}


/* Customer Section */
.customers{
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-icons-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.customers-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);
    
}

.customers-icon{
    fill: var(--subtle-text);
    transition: fill var(--transition-dur-and-func);;
}



.customers-item:hover .customers-icon,
.customers-item:focus .customers-icon {
fill: var(--hover-color);
}


.customers-item:hover,
.customers-item:focus {
    border-color: var(--hover-color);   
}

/* Footer Section */ 

.footer{
    background-color: var(--headings-color);
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer-container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


.logo-bottom{
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.logo-footer{
color: var(--background-color);
}

.footer-advise{
    margin-top: 16px;
    color: var(--magic-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.foot-network {
    margin-left: 120px;
}

.foot-network-title, .foot-subscription-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--magic-color);
}

.foot-network-list {
    justify-content: space-between;
    padding-left: 0;
    margin-top: 16px;
    margin-bottom: 0;
}

.network-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-func);
    
}

.foot-network-item:not(:last-child){
    margin-right: 16px;
}

.network-icon:hover,
.network-icon:focus {
    background-color: var(--success-color);
}


.subscription-box {
    margin-left: 80px;

}

.footer-form {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 16px;
}

.footer-form .form-input {
    width: 264px;
    margin-right: 24px ;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: var(--magic-color);

    transition:  background-color border var(--transition-dur-and-func);
}

.footer-form .form-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-form .form-input:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--additional-color);
}

.subscription-button {
    display: flex;
    padding: 8px 24px;
    color: var(--magic-color);
    background-color: var(--primary-brand-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--transition-dur-and-func);
}

.subscription-button:hover,
.subscription-button:focus {
    background-color: var(--hover-color);
    cursor: pointer;
}

.icon-send {
    margin-left: 10px;
    fill: var(--magic-color);
}


/* Page Portfolio */

/* Filters */

.project {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters-list {
    justify-content: center;
    margin: 0;
    padding-left: 0;
}

.filters-text{
    padding: 12px 24px;
    text-align: center;
    color: var(--primary-brand-color);
    /* background-color: var(--background-color); */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    cursor: pointer;
    transition: color var(--transition-dur-and-func), 
    background-color var(--transition-dur-and-func), 
    box-shadow var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);

}

.filters-text:hover, .filters-text:focus{
    color: var(--magic-color);
    background-color: var(--hover-color);
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


/* Portfolio Work */

.project-link{
    text-decoration: none;
    display: block;
    transition: box-shadow var(--transition-dur-and-func);
}

.projects-list {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 72px;
    margin-bottom: 0;
    padding: 0;
}

.projects-item {
    width: 360px;
    height: auto;
    margin-right: 24px;
    margin-bottom: 48px;
    
}

.projects-item:nth-child(3n) {
    margin-right: 0;
}

.projects-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.projects-card {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-left: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}

.projects-direction {
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--headings-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.projects-text{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    
}

.project-link:hover, .project-link:focus{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}


.project-list-img-wrapper{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-func);

    line-height: 1.5;  
    letter-spacing: 0.02em;
    padding: 40px 32px;
    color: var(--magic-color);
    background-color: var(--primary-brand-color);
}


.project-link:hover .overlay{
    transform: translate(0, 0);
}


/* Modal Backdrop */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;

    background: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    width: 408px;
    border-radius: 4px;
    background-color: var(--magic-color);
}

.modal-close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;    
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: border-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);

}

.modal-close-btn:hover, .modal-close-btn:focus{
    border-color: transparent;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-close-icon{
    transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:hover .modal-close-icon{
    fill: var(--primary-brand-color);
}

/* Modal Form */
.modal-form-title{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

.modal-form-desc, .modal-form-checkbox-desc{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--subtle-text);
    margin-bottom: 4px;
}

.modal-form-checkbox-desc {
    margin-bottom: 24px;
}

.modal-form{
    display: flex;
    flex-direction: column;
}

.modal-form-input{
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    padding-left: 34px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);
}



.modal-form-message{
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    padding: 8px 16px;
    margin-bottom: 16px;
    transition: border-color var(--transition-dur-and-func);

}

.modal-form-message::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus{
    outline: none;
    border-color: var(--primary-brand-color);
}

.modal-form-input-field {
    position: relative;
    margin-bottom: 8px;
}
.modal-input-icon{
    position: absolute;
    display: block;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    fill: var(--headings-color);
    transition: fill var(--transition-dur-and-func);
}

.modal-form-input:focus{
    outline: none;
    border-color: var(--primary-brand-color);
}

.modal-form-input:focus + .modal-input-icon{
    fill: var(--primary-brand-color);
}

.modal-form-checkbox-desc:before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--headings-color);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
}

.modal-form-checkbox-desc {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.modal-form-check:checked + .modal-form-checkbox-desc::before{
    background-color: var(--primary-brand-color);
    border-color: transparent;
    background-image: url("../images/check-mark-icon.svg");
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: center;
}

.privacy-police{
    text-decoration: none;
    color: var(--primary-brand-color);
}

.modal-form-btn-submit {
    min-width: 170px;
    align-self: center;
    padding: 16px 32px;
    color: var(--magic-color);
    background-color: var(--primary-brand-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--transition-dur-and-func);
}

.modal-form-btn-submit:hover,
.modal-form-btn-submit:focus {
    background-color: var(--hover-color);
    cursor: pointer;
}
